.title{
    text-align: center;
}


.button{
    text-align: center;
}

.body{
    text-align: center;
}

.age{
    text-align: center;
}

.position{
    text-align: center;
}

.ken{
    text-align: center;
}