.title{
    text-align: center;
}


.button{
    text-align: center;
}

body{
        background-image: url(https://ascgazou.s3.ap-northeast-1.amazonaws.com/myprefix/icMxSoYi8V6aEua5UOrtZkQgbXv5jLUDIXYR85db.jpg);
        background-size:  cover;/* 画像のサイズ指定 */
        background-position: center;
        /*width: 100vw;*/
        background-repeat: no-repeat;
    }
     /*画像の大きさ設定*/
    img {
     max-width: 100%;
     max-height: 100%;
    }