    .name{
           position: relative;
           color: #6eb0f9;
           line-height: 1.4;
           -webkit-box-reflect: below -10px -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0) 10%,rgba(0, 0, 0, 0.6));
           text-align: center;
           
           }
    .body{
           text-align: center;
           padding: 20px 0px 0px 0px; /*「padding:上 右 下 左」の順で指定*/
          }
    .age{
         text-align: center;
         }
    .position_id{
        text-align: center;
    }
    .ken_id{
        text-align: center;
    }
    .footer{
        text-align: center;
    }
    .edit{
        text-align: center;
    }
    .chat{
        text-align: center;
    }
    
    .icon{
        text-align: center;
        padding: 20px 0px 0px 0px; /*「padding:上 右 下 左」の順で指定*/
        
    }